<div class="caja-comentarios">
    <h2>COMENTARIOS</h2>
    <div class="comentarios-publicados">
        <div class="usuario">
            <img src="" alt="">
            <p id="nombre"></p>
        </div>
        <div class="contenido">
            <p></p>
        </div>
    </div>

    <div class="comentarios-publicados">
        <div class="usuario">
            <img src="" alt="">
            <p id="nombre"></p>
        </div>
        <div class="contenido">
            <p></p>
        </div>
    </div>

    <div class="publicar-comentario">
        <textarea id="comentario" name="comentario" placeholder="Escribe tu comentario"></textarea>
        <button type="submit">Enviar</button>
    </div>