<div class="caja-comentarios">
    <h2>COMENTARIOS</h2>
    <div class="comentarios-publicados">
        <div class="usuario">
            <img src="../../../../assets/icons/icono.png" alt="">
            <p id="nombre">pepe</p>
        </div>
        <div class="contenido">
            <p>pues yo opino que blabalbal</p>
        </div>
    </div>

    <div class="comentarios-publicados">
        <div class="usuario">
            <img src="../../../../assets/icons/icono.png" alt="">
            <p id="nombre">jose juan</p>
        </div>
        <div class="contenido">
            <p>me suda lo que digas</p>
        </div>
    </div>

    <div class="publicar-comentario">
        <textarea id="comentario" name="comentario" placeholder="Escribe tu comentario"></textarea>
        <button type="submit">Enviar</button>
    </div>