<div class="caja-comentarios">
  <h2>COMENTARIOS</h2>

  <div *ngIf="!!(comentarios|async)">
    <div *ngFor="let comentario  of (comentarios|async)?.comentarios" class="comentarios-publicados">
      <div class="usuario">
        <img src="{{ comentario.imagen }}">
        <p id="nombre">{{ (comentario).nombre }}</p>
      </div>
      <div class="contenido">
        <p>{{ comentario.contenido }}</p>
      </div>
    </div>
  </div>

  <div class="publicar-comentario">
    <textarea [(ngModel)]="nuevo_mensaje" id="comentario" name="comentario"
      placeholder="Escribe tu comentario"></textarea>
    <button type="submit" (click)="publicarComentario()">Enviar</button>
  </div>