<div class="semi-modal flex">
    <section>
        <h2>Suscripción</h2>
        <hr>

        <h3>Tipo de suscripción elegida</h3>
        <p>Mensual (por ejemplo)</p>

        <h3>Datos personales</h3>

        <form id="subscription-form" class="flex" method="post" action="//TODO">

            <fieldset>
                <label for="name">Nombre</label>
                <input [(ngModel)]="nombre" type="text" id="name" name="name" placeholder="escribe aquí tu nombre..."
                    required>
            </fieldset>
            <fieldset>
                <label for="lastname">Apellidos</label>
                <input [(ngModel)]="apellidos" type="text" id="lastname" name="lastname"
                    placeholder="escribe aquí tu apellido..." required>
            </fieldset>

            <fieldset>
                <label for="country">País</label>
                <select [(ngModel)]="pais" id="country" name="country" required>
                    <option disabled selected value>Elige una opción</option>
                    <option value="opt1">España</option>
                    <option value="opt2">Francia</option>
                    <option value="opt3">Italia</option>
                    <option value="opt4">Reino Unido</option>
                    <option value="opt5">Estados Unidos</option>
                </select>
            </fieldset>
            <fieldset>
                <label for="province">Provincia</label>
                <select [(ngModel)]="provincia" id="province" name="province" required>
                    <option disabled selected value>Elige una opción</option>
                    <option value="opt1">Las Palmas</option>
                    <option value="opt2">Tenerife</option>
                    <option value="opt3">Madrid</option>
                    <option value="opt4">Barcelona</option>
                </select>
            </fieldset>

            <h3>Pago</h3>

            <div class="flex">

                <label class="flex" for="credit-card">
                    <img src="../../../../assets/icons/credit-card.png" alt="credit card">
                    <figcaption>Tarjeta de crédito</figcaption>
                    <input type="radio" name="pay-method" id="credit-card" required>
                </label>

                <label class="flex" for="paypal">
                    <img src="../../../../assets/icons/paypal.png" alt="paypal">
                    <figcaption>PayPal</figcaption>
                    <input type="radio" name="pay-method" id="paypal" required>
                </label>

            </div>
        </form>

        <button (click)="pagarHandler()" type="submit" form="subscription-form">PAGAR</button>

    </section>

</div>