.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.gallery img {
    margin: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: transform 0.3s;
    border: 2px solid transparent;
    border-radius: 20px;
    width: 70px;
}

.gallery img:hover {
    transform: scale(1.05);
    border: 2px solid rgb(10, 75, 109);
}

.gallery img.selected {
    border: 2px solid green;
    box-shadow: 0px 0px 5px green;
}