<div class="articulo">
    <div class="articulo-primera-parte">
        <h2 class="titulo-articulo">{{titulo}}</h2>
        <p class="entrada-articulo">{{entrada}}</p>
        <img class="imagen-articulo" src={{imagen}} alt="">
        <p class="pie-de-foto-articulo">{{pie_foto}}</p>
        <a href="#">
            <p class="datos-articulo">{{datos}}</p>
        </a>
        <p class="fecha-articulo">{{fecha}}</p>
        <p class="contenido-articulo">{{contenido}}</p>
    </div>

    <div class="articulo-segunda-parte">
        <h3>{{titulo_mas_vistos}}</h3>
        <hr class="bottom">
        <ol *ngFor="let articulo_mas_visto of articulos_mas_vistos; let i = index">
            <a href="#">
                <li>{{ i + 1 }}. {{ articulo_mas_visto }}</li>
            </a>
        </ol>
        <h3>{{titulo_relacionados}}</h3>
        <hr class="bottom">
        <ol *ngFor="let articulo_relacionado of articulos_relacionados; let i = index">
            <a href="#">
                <li>{{ i + 1 }}. {{articulo_relacionado}}</li>
            </a>
        </ol>
    </div>
</div>