<div class="articulo">
    <div class="articulo-primera-parte">
        <h2 class="titulo-articulo">titulazo</h2>
        <p class="entrada-articulo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam aliquid temporibus cumque voluptas labore exercitationem ab, rem laborum similique dolorum sapiente explicabo aspernatur quia assumenda at porro iusto animi inventore.</p>
        <img class="imagen-articulo" src="../../../../assets/images/Alimentacion.jpg" alt="">
        <p class="pie-de-foto-articulo">José María Álvarez-Pallete, en su intervención inaugural del MWC23 de Barcelona este lunes.</p>
        <a href="#">
            <p class="datos-articulo">autor</p>
        </a>
        <p class="fecha-articulo">12 de febrero 2021</p>
        <p class="contenido-articulo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptatum id sit magnam a, eos repellat quisquam in, possimus nostrum repudiandae modi, commodi eaque natus excepturi! Ea voluptatibus corporis incidunt.</p>
    </div>

    <div class="articulo-segunda-parte">
        <h3>los mas vistos</h3>
        <hr class="bottom">
        <div class="contenido-mas-vistos">
            <ol>
                <a href="#">
                    <li>articulo 1</li>
                </a>
                <a href="#">
                    <li>articulo 1</li>
                </a>
                <a href="#">
                    <li>articulo 1</li>
                </a>
            </ol>
        </div>
        <h3>articulos relacionados</h3>
        <hr class="bottom">
        <ol>
            <a href="#">
                <li>articulo 1</li>
            </a>
            <a href="#">
                <li>articulo 1</li>
            </a>
            <a href="#">
                <li>articulo 1</li>
            </a>
        </ol>
    </div>
</div>
