<div class="articulo">
    <div class="articulo-primera-parte">
        <h2 class="titulo-articulo"></h2>
        <p class="entrada-articulo"></p>
        <img class="imagen-articulo" src="" alt="">
        <p class="pie-de-foto-articulo"></p>
        <a href="#">
            <p class="datos-articulo"></p>
        </a>
        <p class="fecha-articulo"></p>
        <p class="contenido-articulo"></p>
    </div>

    <div class="articulo-segunda-parte">
        <h3></h3>
        <hr class="bottom">
        <div class="contenido-mas-vistos">
            <ol>
                <a href="#">
                    <li></li>
                </a>
                <a href="#">
                    <li></li>
                </a>
                <a href="#">
                    <li></li>
                </a>
            </ol>
        </div>
        <h3></h3>
        <hr class="bottom">
        <ol>
            <a href="#">
                <li></li>
            </a>
            <a href="#">
                <li></li>
            </a>
            <a href="#">
                <li></li>
            </a>
        </ol>
    </div>
</div>
