<header class="header">
    <div class="logo">
        <a href="home.html"><img src="../../../assets/icons/periodico.png"></a>
    </div>

    <nav>
        <ul class="nav-links">
            <a href="">Inicio</a>
            <a href="#">Economía</a>
            <a href="#">Política</a>
            <a href="#">Cultura</a>
        </ul>
    </nav>

    <div class="busqueda">
        <input type="text" placeholder="Buscar...">
        <img src="../../../assets/icons/lupa.png">
    </div>

    <ul class="other-links">
        <a href="subscribe">Subscribe</a>
        <a href="login">Log In</a>
        <a href="signup">Registrarse</a>
    </ul>

    <div class="hamburger">
        &#9776;
    </div>
</header>