<header class="header">
    <div class="logo">
        <a href=""><img src="../../../assets/icons/periodico.png"></a>
    </div>

    <nav>
        <ul class="nav-links">
            <a href="#">Inicio</a>
            <a href="#">Economía</a>
            <a href="#">Política</a>
            <a href="#">Cultura</a>
        </ul>
    </nav>

    <div class="busqueda">
        <input type="text" placeholder="Buscar...">
        <img src="../../../assets/icons/lupa.png">
    </div>

    <ul class="other-links">
        <a href="auth/subscribe">Subscribe</a>
        <a *ngIf="!(user |async)?.id" href="auth/login">Log In</a> <a *ngIf="(user |async)?.id">{{(user
            |async)?.name}}</a>
        <a *ngIf="!(user |async)?.id" href="auth/signup">Registrarse</a> <a *ngIf="(user |async)?.id"
            (click)="logout()">Logout</a>
    </ul>

    <div class="hamburger">
        &#9776;
    </div>
</header>