@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

:root {
    --gris_oscuro: #97A9B6;
    --azul_oscuro: #5095AD;
    --gris: #D9D9D9;
    --negro: #1F1D1D;
    --azul_brillante: #15B8F0;
}

body {
    font-family: 'Inter', sans-serif;
}

.flex {
    display: flex;
}

main {
    margin-top: 4rem;
    min-height: 100vh;
}

.hidden {
    display: none;
}

.error-msg {
    color: rgb(200, 50, 50);
    font-size: 1.2rem;
}