<div class="semi-modal flex">
    <section>
        <h2>Log In</h2>
        <hr>
        <form id="login-form" class="flex" method="post">

            <fieldset class="flex">
                <label for="email">email</label>
                <input [(ngModel)]="email" type="email" id="email" name="email" placeholder="escribe aquí tu email..."
                    required>
            </fieldset>
            <fieldset class="flex">
                <label for="password">contraseña</label>
                <input [(ngModel)]="password" type="password" id="password" name="password"
                    placeholder="escribe aquí tu contraseña..." required>
            </fieldset>
        </form>

        <div class="link-container">
            <a href="/auth/signup">¿no estás registrado?</a>
        </div>

        <p *ngIf="showError" class="error-msg">El email no existe</p>

        <p style="color: white; text-align: center;">Email: {{(user |async)?.email}}</p>
        <p style="color: white; text-align: center;">Name: {{(user |async)?.name}}</p>

        <!-- <button (click)="btnHandler()" type="submit" form="login-form">Log In</button> -->

        <button (click)="createUser()">Crear usuario</button>
        <button (click)="findById()">Buscar por ID usuario</button>
        <button (click)="findByEmail()">Buscar por Email usuario</button>
        <button (click)="update()">Actualizar usuario</button>
        <button (click)="delete()">Eliminar usuario</button>

    </section>
</div>