<!DOCTYPE html>
<html>

<head>        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>    
</head>

<body>
    <main>
        <div class="generic-container">
            <h1></h1>
            <p class="description"></p>
            <div class="headerContacto" id="telephone">
                <h2></h2>
                <img src="">
                <ul></ul>
            </div>

            <div class="headerContacto" id="address">
                <h2></h2>
                <img src="">
                <ul></ul>
            </div>

            <div class="headerContacto" id="email">
                <h2></h2>
                <img src="">
                <ul></ul>
            </div>

        </div>
    </main>
    <script type="module" type="text/javascript" src="../scripts/json/jsoncontacto.js"></script>
</body>

</html>