<!DOCTYPE html>
<html>

<head>        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>    
</head>

<body>
    <main>
        <div class="generic-container">
            <h1>Contacto</h1>
            <p class="description"></p>
            <div class="headerContacto" id="telephone">
                <h2>{{telephone.title}}</h2>
                <img src="{{telephone.icon}}">
                <ul *ngFor="let data of telephone.data">
                    <li>{{data}}</li>
                </ul>
            </div>

            <div class="headerContacto" id="address">
                <h2>{{address.title}}</h2>
                <img src="{{address.icon}}">
                <ul *ngFor="let data of address.data">
                    <li>{{data}}</li>
                </ul>
            </div>

            <div class="headerContacto" id="email">
                <h2>{{email.title}}</h2>
                <img src="{{email.icon}}">
                <ul *ngFor="let data of email.data">
                    <li>{{data}}</li>
                </ul>
            </div>

        </div>
    </main>    
</body>

</html>