<footer id="footer">
    <div class="container">
        <ul id="social-links" class="flex">
            <li><a href="https://twitter.com"><img src="../icons/twitter.svg" alt="twitter"></a></li>
            <li><a href="https://instagram.com"><img src="../icons//instagram.svg" alt="instagram"></a></li>
            <li><a href="https://youtube.com"><img src="../icons/youtube.svg" alt="youtube"></a></li>
            <li><a href="https://facebook.com"><img src="../icons/facebook.svg" alt="facebook"></a></li>
        </ul>
        <ul id="footer-links" class="flex">
            <li><a href="./avisolegal.html">Aviso Legal</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
            <li><a href="./politicadecookies.html">Política Cookies</a></li>
            <li><a href="./politicadeprivacidad.html">Política de privacidad</a></li>
        </ul>
    </div>
</footer>