<footer id="footer">
    <div class="container">
        <ul id="social-links" class="flex">
            <li><a href="https://twitter.com"><img src="../../../assets/icons/twitter.svg" alt="twitter"></a></li>
            <li><a href="https://instagram.com"><img src="../../../assets/icons/instagram.svg" alt="instagram"></a></li>
            <li><a href="https://youtube.com"><img src="../../../assets/icons/youtube.svg" alt="youtube"></a></li>
            <li><a href="https://facebook.com"><img src="../../../assets/icons/facebook.svg" alt="facebook"></a></li>
        </ul>
        <ul id="footer-links" class="flex">
            <li><a routerLink="/aviso-legal">Aviso Legal</a></li>
            <li><a routerLink="/contacto">Contacto</a></li>
            <li><a routerLink="/politica-de-cookies">Política Cookies</a></li>
            <li><a routerLink="/politica-de-privacidad">Política de privacidad</a></li>
        </ul>
    </div>
</footer>