<div class="separador">
    <hr class="top">
    <p><b>El tiempo</b></p>
    <hr class="bottom">
</div>

<div class="cuatro-articulos">
    <div>
        <img class="imagen" src="../../../../assets/images/tiempo1.jpeg">
        <a href="#">
            <h4 class="titulo">titulazo</h4>
        </a>
        <a href="#">
            <p class="datos">pepe</p>
        </a>
    </div>
    <div>
        <img class="imagen" src="../../../../assets/images/tiempo1.jpeg">
        <a href="#">
            <h4 class="titulo">titulazoi</h4>
        </a>
        <a href="#">
            <p class="datos">juan</p>
        </a>
    </div>
    <div>
        <img class="imagen" src="../../../../assets/images/tiempo1.jpeg">
        <a href="#">
            <h4 class="titulo">titulon</h4>
        </a>
        <a href="#">
            <p class="datos">ricardo</p>
        </a>
    </div>
    <div>
        <img class="imagen" src="../../../../assets/images/tiempo1.jpeg">
        <a href="#">
            <h4 class="titulo">titulo4</h4>
        </a>
        <a href="#">
            <p class="datos">pepejuan</p>
        </a>
    </div>

</div>