<div class="separador">
    <hr class="top">
    <p><b>El tiempo</b></p>
    <hr class="bottom">
</div>

<div class="cuatro-articulos">
    <div>
        <img class="imagen" src="">
        <a href="#">
            <h4 class="titulo"></h4>
        </a>
        <a href="#">
            <p class="datos"></p>
        </a>
    </div>
    <div>
        <img class="imagen" src="">
        <a href="#">
            <h4 class="titulo"></h4>
        </a>
        <a href="#">
            <p class="datos"></p>
        </a>
    </div>
    <div>
        <img class="imagen" src="">
        <a href="#">
            <h4 class="titulo"></h4>
        </a>
        <a href="#">
            <p class="datos"></p>
        </a>
    </div>
    <div>
        <img class="imagen" src="">
        <a href="#">
            <h4 class="titulo"></h4>
        </a>
        <a href="#">
            <p class="datos"></p>
        </a>
    </div>

</div>