<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe</title>
</head>

<body>
    <main>
        <div class="contenedor-cuadrados">
            <div class="cuadrado_sub">
                <h2 class="suscripcion_tipo"></h2>
                <ul class="suscripcion_ventajas"></ul>
                <a routerLink="/subscribe-form"><button class="subButton"></button></a>
            </div>

            <div class="cuadrado_sub">
                <h2 class="suscripcion_tipo"></h2>
                <ul class="suscripcion_ventajas"></ul>
                <a routerLink="/subscribe-form"><button class="subButton"></button></a>
            </div>

            <div class="cuadrado_sub">
                <h2 class="suscripcion_tipo"></h2>
                <ul class="suscripcion_ventajas"></ul>
                <a routerLink="/subscribe-form"><button class="subButton"></button></a>
            </div>
        </div>

        <div class="subEmpresa">
            <img class="subEmpresa_icono" src="">
            <h2 class="subEmpresa_title"></h2>
            <p class="subEmpresa_ventajas"></p>
            <a routerLink="/subscribe-form"><button class="subButton"></button></a>
        </div>
    </main>
    <script type="module" type="text/javascript" src="../scripts/json/jsonsubscribe.js"></script>
</body>

</html>