<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe</title>
</head>

<body>
    <main>
        <div class="contenedor-cuadrados">
            <div *ngFor="let subscription of subscriptions" class="cuadrado_sub">
                <h2 class="suscripcion_tipo">{{subscription.type}}</h2>
                <ul *ngFor="let advantage of subscription.advantages" class="suscripcion_ventajas">
                    <li>{{advantage}}</li>
                </ul>
                <a routerLink="/subscribe-form"><button class="subButton">SUSCRIBIRSE</button></a>
            </div>
        </div>

        <div class="subEmpresa">
            <img class="subEmpresa_icono" src="{{enterpriseSub.icon}}">
            <h2 class="subEmpresa_title">{{enterpriseSub.title}}</h2>
            <p class="subEmpresa_ventajas">{{enterpriseSub.advantages}}</p>
            <a routerLink="/subscribe-form"><button class="subButton">Me interesa</button></a>
        </div>
    </main>    
</body>

</html>