.videos {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
}
.videos iframe{
    width: 44%;
    height: auto;
}

.videos .primera-linea,
.videos .segunda-linea {
    display: flex;
    justify-content: space-around;
    margin-top: .5rem;
    width: 50%;
}

/*separador o titulo de la lista*/
.separador .top {
    width: 99.9%;
    border-top: 0.2rem solid #000000;
    margin: 0.5% 0;
}

.separador .bottom {
    width: 99.9%;
    border-top: 0.1rem solid #000000;
    margin: 0.5% 0;
}

.separador p {
    font-size: large;
    text-align: left;
    margin-left: 3rem;
    text-transform: uppercase;
}

/*tablet*/
@media screen and (max-width: 835px) {
    .videos {
        display: block;
    }
    .videos .primera-linea {
        width: 100%;
        margin-bottom: 1rem;
    }

    .videos .segunda-linea {
        width: 100%;
    }
}

/*movil*/
@media screen and (max-width: 590px) {
    .videos{
        margin-top: 1rem;
    }
    .videos iframe{
        width: 100%;
        margin-top: 1rem;
    }

    .videos .primera-linea,
    .videos .segunda-linea {
        display: block;
        margin-bottom: 0rem;
        margin-top: 0rem;
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }

}