<div class="separador">
    <hr class="top">
    <p><b>En vídeo</b></p>
    <hr class="bottom">
</div>

<div class="videos">
    <div class="primera-linea">
        <iframe src="https://www.youtube.com/embed/NXvcWvn1lr8"></iframe>
        <iframe src="https://www.youtube.com/embed/NXvcWvn1lr8"></iframe>
    </div>
    <div class="segunda-linea">
        <iframe src="https://www.youtube.com/embed/NXvcWvn1lr8"></iframe>
        <iframe src="https://www.youtube.com/embed/NXvcWvn1lr8"></iframe>
    </div>
</div>