.custom-file-upload {
  display: block;
  margin: 0 auto;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: cadetblue;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  text-align: center;
  margin-left: 1rem;
}

.custom-file-upload input[type="file"] {
  display: none;
}