<div class="articulos-principales">
    <div class="articulo-izquierdo">
        <img src="../../../../assets/images/Alimentacion.jpg">

        <div class="contenido">
            <a href="pagina-articulo.html">
                <h2 class="titulo">alimentacion</h2>
            </a>
    
            <a href="#">
                <p class="datos">pepe zuluaga</p>
            </a>
    
            <p class="resumen">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum ad consequatur sequi amet
                ex facere ullam nemo voluptates, obcaecati, nostrum tempore beatae! Delectus quod nesciunt recusandae
                numquam labore deserunt unde?</p>
        </div>
    </div>
    <div class="articulo-central">
        <img src="../../../../assets/images/Alimentacion.jpg">

        <div class="contenido">
            <a href="pagina-articulo.html">
                <h2 class="titulo">alimentacion</h2>
            </a>
    
            <a href="#">
                <p class="datos">pepe zuluaga</p>
            </a>
    
            <p class="resumen">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum ad consequatur sequi amet
                ex facere ullam nemo voluptates, obcaecati, nostrum tempore beatae! Delectus quod nesciunt recusandae
                numquam labore deserunt unde?</p>
        </div>
    </div>
    <div class="articulo-derecho">
        <img src="../../../../assets/images/Alimentacion.jpg">

        <div class="contenido">
            <a href="pagina-articulo.html">
                <h2 class="titulo">alimentacion</h2>
            </a>
    
            <a href="#">
                <p class="datos">pepe zuluaga</p>
            </a>
    
            <p class="resumen">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum ad consequatur sequi amet
                ex facere ullam nemo voluptates, obcaecati, nostrum tempore beatae! Delectus quod nesciunt recusandae
                numquam labore deserunt unde?</p>
        </div>
    </div>
</div>