<div class="articulos-principales">
    <div class="articulo-izquierdo">
        <img class="imagenes" src="">

        <div class="contenido">
            <a href="pagina-articulo.html">
                <h2 class="titulo"></h2>
            </a>

            <a href="#">
                <p class="datos"></p>
            </a>

            <p class="resumen"></p>
        </div>
    </div>
    <div class="articulo-central">
        <img class="imagenes" src="">

        <div class="contenido">
            <a href="pagina-articulo.html">
                <h2 class="titulo"></h2>
            </a>

            <a href="#">
                <p class="datos"></p>
            </a>

            <p class="resumen"></p>
        </div>
    </div>
    <div class="articulo-derecho">
        <img class="imagenes" src="">

        <div class="contenido">
            <a href="pagina-articulo.html">
                <h2 class="titulo"></h2>
            </a>

            <a href="#">
                <p class="datos"></p>
            </a>

            <p class="resumen"></p>
        </div>
    </div>
</div>