.articulos-principales {
    display: flex;
    justify-content: space-around;
    margin-top: .5rem;
}

.articulos-principales img {
    width: 100%;
    margin-bottom: 0.5%;
}

.articulos-principales .titulo {
    font-size: x-large;
}

.articulos-principales .datos {
    font-size: normal;
    font-style: italic;
    text-align: left;
    padding-left: 5%;
}

 
.articulos-principales .articulo-central {
    width: 33.3%;
}

.articulos-principales .articulo-derecho,
.articulos-principales .articulo-izquierdo,
.articulos-principales .articulo-central {
    text-align: center;
    padding: 0.5%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.articulos-principales .titulo:hover,
.articulos-principales .datos:hover {
    color: var(--azul_oscuro);
    transition: 200ms;
}

/*tablet*/
@media screen and (max-width: 835px) {

    .articulos-principales {
        display: block;
    }

    .articulos-principales .articulo-central,
    .articulos-principales .articulo-izquierdo,
    .articulos-principales .articulo-derecho {
        display: flex;
        min-width: 100%;
    }


    .articulos-principales img {
        object-fit: cover;
        width: 395px;
        height: 316px;
        max-width: 100%;
        margin-left: 0.3rem;
    }

    .articulos-principales .contenido{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding-left: 1rem;
    }

}

/*movil*/
@media screen and (max-width: 590px) {
    
    .articulos-principales .articulo-central,
    .articulos-principales .articulo-derecho,
    .articulos-principales .articulo-izquierdo{
        display: block !important;
        max-width: 100%;
        border-left: none !important;
        border-right: none !important;

        
    }
    .articulos-principales .contenido{
        padding-left: 0rem;
    }
    .articulos-principales img{
        margin-left: 0rem;
        padding: 0.5rem;
    }


}
