<div class="articulos-principales">
    <div class="articulo-central" *ngFor="let articulo of articulos">
        <img class="imagenes" src="{{articulo.imagen}}">
        <div class="contenido">
            <a routerLink="{{articulo.href}}">
                <h2 class="titulo">{{articulo.titulo}}</h2>
            </a>

            <a routerLink="{{articulo.href}}">
                <p class="datos">{{articulo.datos}}</p>
            </a>

            <p class="resumen">{{articulo.resumen}}</p>
        </div>
    </div>

</div>